In [14]:
import pandas as pd
import numpy as np
exam_data =pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']},index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
exam_data.head(3)
print(exam_data)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [15]:
data = exam_data.drop(labels=['b','c','d','e','h','i'], axis=0)
print(data)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
j      Jonas   19.0         1     yes

In [16]:
new=exam_data.iloc[:,0:1]
print(new)

        name
a  Anastasia
b       Dima
c  Katherine
d      James
e      Emily
f    Michael
g    Matthew
h      Laura
i      Kevin
j      Jonas

In [17]:
add_exam_data=pd.DataFrame({'name': ['Suresh'],'score': [15.5],'attempts': [1],'qualify': ['yes']},index=['k'])
new_data=exam_data.append(add_exam_data)
print(new_data)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

In [18]:
del new_data["attempts"]
print(new_data)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes

In [19]:
new_data["Sucess"] = 1
print(new_data)

        name  score qualify  Sucess
a  Anastasia   12.5     yes       1
b       Dima    9.0      no       1
c  Katherine   16.5     yes       1
d      James    NaN      no       1
e      Emily    9.0      no       1
f    Michael   20.0     yes       1
g    Matthew   14.5     yes       1
h      Laura    NaN      no       1
i      Kevin    8.0      no       1
j      Jonas   19.0     yes       1
k     Suresh   15.5     yes       1

In [20]:
new_data.to_csv(r'my_data', index=False)